<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Artemis Data Logger</title>
    <script
      src="https://cdn.socket.io/4.7.4/socket.io.min.js"
      integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4"
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function () {
        var socket = io.connect(
          location.protocol + "//" + document.domain + ":" + location.port
        );

        socket.on("header_data", function (header) {
          document.getElementById("header").innerHTML =
            "Header: " + header.join(", ");
        });
      });
    </script>
  </head>
  <body>
    <h1>Artemis Data Logger</h1>
    <div id="header">Waiting for header...</div>
  </body>
</html>
